---
import { useSpeeches } from "../../hooks/useSpeeches";
import type Step from "../../types/Step";
import SpeechTextBox from "./elements/SpeechTextBox.astro";

interface Props {
    currentStep: Step | null;
}

const { currentStep } = Astro.props;
const { fetchSpeeches } = useSpeeches(true);

const stepId = currentStep ? currentStep.id : "";
const speeches = await fetchSpeeches().then(
    (response) => response.data.speeches,
);
---

<div class="speech-box">
    <SpeechTextBox speeches={speeches} initialStepId={stepId} />
</div>

<style>
    .speech-box {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
    }
</style>
