---
import { useSteps } from "../../hooks/useSteps";
import SpeechTextBox from "./elements/SpeechTextBox.astro";

const { currentStep } = Astro.props;

const { fetchSpeechesByStep } = useSteps(true);
const spechesByStep = await fetchSpeechesByStep(currentStep.id).then((response) => response.data.speeches)
---

<div class="speech-box">
    <SpeechTextBox spechesByStep={spechesByStep} />
</div>

<style>
    .speech-box {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
    }
</style>
