---
import { useSteps } from "../../hooks/useSteps";
import type Step from "../../types/Step";
import SpeechTextBox from "./elements/SpeechTextBox.astro";

interface Props {
    currentStep: Step | null;
}

const { currentStep } = Astro.props;

const { fetchSpeechesByStep } = useSteps(true);

const stepId = currentStep ? currentStep.id : '';
const speechesByStep = await fetchSpeechesByStep(stepId).then(
    (response) => response.data.speeches,
);
---

<div class="speech-box">
    <SpeechTextBox speechesByStep={speechesByStep} />
</div>

<style>
    .speech-box {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
    }
</style>
