---
import SpeechTextBox from "./elements/SpeechTextBox.astro";

const { currentStep } = Astro.props;
---

<div class="speech-box">
    <SpeechTextBox currentStep={currentStep} />
</div>

<style>
    .speech-box {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
    }
</style>
