---
import Layout from '../layouts/Layout.astro';
import ReactBox from '../components/react/ReactBox';
import VueBox from '../components/vue/VueBox.vue';
// import AppDetailsLog from '../components/vue/1.vue';
import AppDetailsLog from '../components/vue/AppDetailsLog.vue';

// import WebSocket from 'ws';
// const wsUrl = 'ws://localhost:16000/cleanArch';
// const webSocket = new WebSocket(wsUrl);
// webSocket.onmessage = (e) => {
//     const data = JSON.parse(e.data);
//     console.log(data);
// }
// console.log('ok');
---



<Layout title="Hello World">
	<main>
		<ReactBox client:load title="React">
			<h1>...</h1>
		</ReactBox>
		<VueBox client:only="vue" title="Vue">
			<AppDetailsLog client:only="vue"/>
		</VueBox>
	</main>
</Layout>

<style>
	main {
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
	}
</style>