---
import Layout from "../layouts/Layout.astro";
import ReactBox from "../components/react/ReactBox";
import SvelteBox from "../components/svelte/SvelteBox.svelte";
import ParticlesFetcher from "../components/svelte/ParticlesFetcher.svelte";
import VueBox from "../components/vue/VueBox.vue";
import AppDetailsLog from "../components/vue/AppDetailsLog.vue";
import { RequestButton } from "../components/react/elements/RequestButton";
import AstroBox from "../components/astro/AstroBox.astro";
import { useParticles } from "../hooks/useParticles";

const { fetchParticles } = useParticles(true);
const particles = await fetchParticles().then(response => response.data.particles);
---

<Layout title="Hello World">
	<main>
		<ReactBox client:load title="React">
			<RequestButton client:load text="Create Particle" />
		</ReactBox>
		<VueBox client:only="vue" title="Vue">
			<AppDetailsLog client:only="vue" />
		</VueBox>
		<SvelteBox client:load title="Svelte">
			<ParticlesFetcher client:load particles={particles}/>
		</SvelteBox>
		<AstroBox title="Astro">
			<div id="socket-response" slot="body"></div>
		</AstroBox>
	</main>
</Layout>

<style>
	main {
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
	}
</style>

<script>
	const wsUrl = "ws://localhost:16000/newEntity/astro";
	const webSocket = new WebSocket(wsUrl);

	webSocket.onmessage = (e) => {
		const response = JSON.parse(e.data.toString());
		const socketResponseElement =
			document.getElementById("socket-response");

		if (socketResponseElement === null) {
			return;
		}

		socketResponseElement.innerHTML = "<h1><pre>" + response + "</pre><h1>";
	};
</script>
