---
import { speedValues } from "../../../helpers/Speed";
import type Speech from "../../../types/Speech";
interface Props {
    speeches: Speech[];
    initialStepId: string;
}
const { speeches, initialStepId } = Astro.props;
---

<div class="speech-text">
    <svg
        class="corner"
        viewBox="0 0 65 62"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path d="M35 3.5L65 6.5V62L0 0L35 3.5Z" fill="#f0d3de"></path>
    </svg>
</div>

<style is:global>
    .speech-text span {
        opacity: 0;
        display: inline;
    }

    .speech-text span.revealed {
        opacity: 1;
    }

    .speech-text span.highlight {
        color: #bd517a;
    }

    .speech-text {
        font-size: 1.7em;
        font-weight: bold;
        color: #741d3e;
        word-spacing: 0.2em;
        margin: 0 auto;
        background: #f0d3de;
        padding: 0.7em;
        border-bottom: 0.4em solid #741d3e;
        position: relative;
        line-height: 1.2em;
        margin: 12px;
        cursor: pointer;
    }

    .corner {
        position: absolute;
        width: 2vw;
        right: 6vw;
        bottom: 0;
        transform: translateY(80%);
    }
</style>

<script lang="ts" define:vars={{ speeches, initialStepId, speedValues }}>
    let currentStepId = initialStepId;
    let currentGroup = 1;
    let groupQty = calcGroupQuantity();

    const characters = loadSpeeches();
    revealOneCharacter(characters);
    loadNextTextEvent();
    loadStepWebsocket();

    function calcGroupQuantity() {
        const speecheesByStep = speechesByStep(currentStepId, speeches);

        let groupQuantity = 0;
        let countedGroups = [];
        speecheesByStep.forEach((speech) => {
            if (countedGroups.includes(speech.group)) {
                return;
            }

            groupQuantity++;
            countedGroups.push(speech.group);
        });

        return groupQuantity;
    }

    function speechesByStep(stepId, speeches) {
        return speeches.filter((speech) => {
            return speech.stepId === stepId;
        });
    }

    function speechesByGroup(group, speeches) {
        return speeches.filter((speech) => {
            return speech.group === group;
        });
    }

    function loadSpeeches(stepId = initialStepId, group = 1) {
        const speechTextElement = document.querySelector(".speech-text");

        let currentSpeechesByStep = speechesByStep(stepId, speeches);
        currentSpeechesByStep = speechesByGroup(group, currentSpeechesByStep);

        let characters = [];
        currentSpeechesByStep.forEach((line, index) => {
            if (speechTextElement === null) {
                return;
            }

            if (index < currentSpeechesByStep.length - 1) {
                line.content += " ";
            }

            line.content.split("").forEach((character) => {
                let span = document.createElement("span");
                span.textContent = character;

                speechTextElement.appendChild(span);
                characters.push({
                    span: span,
                    isSpace: character === " ",
                    delayAfter: speedValues[line.speed],
                    highlight: line.highlight || false,
                });
            });
        });

        return characters;
    }

    function revealOneCharacter(list) {
        let next = list.splice(0, 1)[0];
        next.span.classList.add("revealed");
        if (next.highlight) {
            next.span.classList.add("highlight");
        }

        const delay = next.isSpace ? 0 : next.delayAfter;
        if (list.length > 0) {
            setTimeout(() => {
                revealOneCharacter(list);
            }, delay);
        }
    }

    function loadStepWebsocket() {
        const wsUrl = "ws://localhost:16000/steps/astro";
        const webSocket = new WebSocket(wsUrl);

        webSocket.onmessage = (e) => {
            const step = JSON.parse(e.data.toString());
            currentStepId = step.id;
            groupQty = calcGroupQuantity();

            removeSpeeches();
            const characters = loadSpeeches(currentStepId);
            revealOneCharacter(characters);
        };
    }

    function removeSpeeches() {
        const speechTextElement = document.querySelector(".speech-text");
        const spansToRemove = speechTextElement.querySelectorAll("span");
        spansToRemove.forEach((span) => span.remove());
    }

    function loadNextTextEvent() {
        const speechTextElement = document.querySelector(".speech-text");

        speechTextElement.addEventListener("click", nextText, false);
    }

    function nextText() {
        removeSpeeches();
        const groupQty = calcGroupQuantity();
        currentGroup = currentGroup < groupQty ? currentGroup + 1 : 1;

        const characters = loadSpeeches(currentStepId, currentGroup);
        revealOneCharacter(characters);
    }
</script>
